<div class="application-tab">
  <h3 class="heading">Confirmation page</h3>

  <h3 class="heading heading--sm mb-5">
    Kindly confirm all the information you supplied are correct and hit the
    submit
  </h3>

  <div class="row justify-content-between mb-4">
    <p class="font-small color-dark">Summary of Assigned form</p>

    <span
      class="font-small color-blue"
      style="cursor: pointer;"
      (click)="handleGotoFirstPage()"
      >Edit</span
    >
  </div>

  <div class="row justify-content-between">
    <div class="col-md-5">
      <div class="form-group">
        <label class="form__label" for="field1">Field 1</label>
        <input
          type="text"
          id="field1"
          [ngModel]="form.field1"
          readonly
          pInputText
          class="form-control"
        />
      </div>
    </div>

    <div class="col-md-5">
      <div class="form-group">
        <label class="form__label" for="field2">Field 2</label>
        <input
          type="text"
          id="field2"
          [ngModel]="form.field2"
          readonly
          pInputText
          class="form-control"
        />
      </div>
    </div>

    <div class="col-md-5">
      <div class="form-group">
        <label class="form__label" for="field3">Field 3</label>
        <input
          type="text"
          id="field3"
          [ngModel]="form.field3"
          readonly
          pInputText
          class="form-control"
        />
      </div>
    </div>

    <div class="col-md-5">
      <div class="form-group">
        <label class="form__label" for="field4">Field 4</label>
        <input
          type="text"
          id="field4"
          [ngModel]="form.field4"
          readonly
          pInputText
          class="form-control"
        />
      </div>
    </div>
  </div>

  <hr class="divider" />

  <div class="row justify-content-between mb-4">
    <p class="font-small color-dark">Summary of Uploaded Documents</p>

    <span
      class="font-small color-blue"
      style="cursor: pointer;"
      (click)="handlePrev()"
      >Edit</span
    >
  </div>

  <div class="mb-4">
    <div class="mb-4">
      <label class="form__label" for="field1">Field 1</label>
      <p><i class="pi pi-file-pdf color-red mr-2"></i>Document 1.pdf</p>
    </div>

    <div class="mb-4">
      <label class="form__label" for="field2">Field 2</label>
      <p><i class="pi pi-file-pdf color-red mr-2"></i>Document 2.pdf</p>
    </div>
  </div>

  <div class="text-right mb-5 mt-4 w-100">
    <button
      pButton
      type="button"
      class="button button--outlined button--outlined-primary mr-3"
      label="Return to Application"
      (click)="handlePrev()"
    ></button>

    <button
      pButton
      type="button"
      [disabled]="submitting"
      class="button button--primary"
      label="Confirm Submission"
    ></button>
  </div>
</div>
