<form class="form-horizontal" autocomplete="off" #viewSmsSetupModal="ngForm">
  <abp-modal-header title="View Sms Setup" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
      <div class="form-group row">
          <label class="col-md-3 col-form-label" for="baseUrl">
              BaseUrl
          </label>
          <div class="col-md-9">
              <label class="form-control">
                  {{smsSetup.baseUrl}}
              </label>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-md-3 col-form-label" for="senderName">
              Sender Name
          </label>
          <div class="col-md-9">
              <label class="form-control">
                  {{smsSetup.senderName}}
              </label>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-md-3 col-form-label" for="userName">
              User Name
          </label>
          <div class="col-md-9">
              <label class="form-control">
                  {{smsSetup.userName}}
              </label>
          </div>
      </div>
      <div class="form-group row">
          <label class="col-md-3 col-form-label" for="password">
              Password
          </label>
          <div class="col-md-9">
              <label class="form-control">
                  {{smsSetup.password}}
              </label>
          </div>
      </div>
  </div>
  <abp-modal-cancel-footer (onCancelClick)="bsModalRef.hide()"></abp-modal-cancel-footer>
</form>
