.mails{
    height: 100vh ;
}
.mail{
border-right: 1px solid rgb(206, 206, 206);
height: 100vh ;
}

.inbox{
    border-bottom: 1px solid rgb(214, 214, 214);
    margin-bottom: 1em;
    padding: 2px;
}

.inbox:hover{
    background-color:  #92a13852;
    cursor: pointer;
}

.inbox .title{
 color: #98b300 ;
 font-size: 1.5em;
}

.active-inbox{
    border-bottom: 1px solid #98b300 !important;
    background-color: #8a9b2a60;
}

.active-inbox h5{
    color: #98b300;
}

