<div [@routerTransition] class="messages">
  <section class="content-header">
    <div class="row justify-content-between align-items-start">
      <div>
        <h1 class="heading">
          {{ "All Messages  " | localize }}
        </h1>
      </div>

      <button
        pButton
        type="button"
        icon="pi pi-plus"
        class="button button--primary"
        iconPos="left"
        label="Compose Mail"
        (click)="createEmailMessage()"
      ></button>
    </div>
  </section>

  <section class="content px-0">
    <div class="messages-grid">
      <div class="messages-list">
        <div class="messages-list-inner">
          <h3 class="messages__heading">Un-read Messages ({{ unread }})</h3>

          <div
            class="message-item"
            [ngClass]="{
              active:
                !utilityService.isObjectEmpty(selectedEmailMessage$ | async) &&
                selectedEmailMessage$.value.id === message.id,
              read: message.read
            }"
            *ngFor="let message of emailMessages"
            (click)="onSelect(message.id)"
          >
            <div class="message-avatar">
              <img src="../assets/img/user.png" alt="" />
            </div>

            <div class="message-desc">
              <p class="font-black font-size-small mb-0">
                {{ message.subject }}
              </p>
              <p [innerHTML]="message.message" class="paragraph font-size-small">
              </p>
            </div>

            <div>
              <p class="message-date">  {{ message.createdOn | date:'MMM-dd' }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="message-details" *ngIf="selectedEmailMessage$">
        <div
          class="container-fluid"
          *ngIf="!utilityService.isObjectEmpty(selectedEmailMessage$ | async)"
        >
          <div class="row justify-content-end mb-5">
            <button
              pButton
              type="button"
              class="button button--blue mr-3"
              label="Reply" (click)="replyEmailMessage(selectedEmailMessage$)"
            ></button>

            <button
              pButton
              type="button"
              class="button button--primary"
              label="Forward" (click)="forwardEmailMessage(selectedEmailMessage$)"
            ></button>
          </div>

          <div class="row justify-content-between align-items-center mb-4">
            <div class="col-md-8">
              <h3 class="message-details-heading">
                {{ selectedEmailMessage$.value.subject }}
              </h3>
            </div>

            <div class="col-md-4">
              <p
                class="paragraph mb-0 color-primary font-size-small text-right"
              >
              {{ selectedEmailMessage$.value.createdOn | date:'dd-MMM-yyyy' }}
              </p>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-12">
              <div class="message-details-header">
                <div class="message-avatar message-avatar--sm">
                  <img src="../assets/img/user.png" alt="" />
                </div>

                <div class="ml-3">
                  <p class="message-subject">{{ selectedEmailMessage$.value.to.subject }}</p>
                  <p class="message-recipients">
                    {{ selectedEmailMessage$.value.to.emailAddress }}
                  </p>
                </div>
              </div>

              <div class="message-details-body">
                <p [innerHTML]="selectedEmailMessage$.value.message">
                </p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="d-flex align-items-center justify-content-center h-100 w-100"
          *ngIf="utilityService.isObjectEmpty(selectedEmailMessage$ | async)"
        >
          <app-empty-state
            [description]="'You have no messages'"
            [icon]="'pi pi-envelope'"
          ></app-empty-state>
        </div>
      </div>
    </div>
  </section>
</div>
