<ngx-ui-loader text="Loading..." textColor="#ffffff"></ngx-ui-loader>

<div class="col-12" style="margin-top: 3%">
  <p-button type="text" [style]="{
      position: 'fixed',
      right: '-1px',
      top: '275px',
      'z-index': 1000,
      'border-top-left-radius': '1.3rem',
      'border-bottom-left-radius': '1.3rem',
      'background-color': '#aba708',
      border: '1px solid #aba708',
      padding: '0.3rem'
    }" (click)="viewApprovalLog = true" label="View Approval Log"></p-button>
  <!-- <p-button type="text" [style]="{
      position: 'fixed',
      right: '-1px',
      top: '272px',
      'z-index': 1000,
      'border-top-left-radius': '1.3rem',
      'border-bottom-left-radius': '1.3rem',
      'background-color': '#aba708',
      border: '1px solid #aba708',
      padding: '0.3rem'
    }" (click)="viewApplicationLetters = true" label="View Application Letters"></p-button> -->

  <div class="col-12" *ngIf="showAppView">
    <app-view-application [(visible)]="displayItemDialog" [(appid)]="appId" [(apptypeid)]="appTypeId">
    </app-view-application>
  </div>
  <div class="col-12" *ngIf="showDocView" style="background-color: white; ">
    <!-- <button pButton type="button" icon="pi pi-pencil" class="button button--primary" iconPos="left"
        style="float: right;" label="Edit" (click)="editTemplate(1)"></button>   -->
    <div id="template_editor" style="padding: 5%; display: block; background-color: white"
      *ngIf="!isDocEditView" [innerHTML]="docTemplate?.body"></div>

      <angular-editor [config]="editorConfig" [placeholder]="'Enter text here...'" [(ngModel)]="docTemplate.body" *ngIf="isDocEditView"></angular-editor>

<button pButton type="button" icon="pi pi-search-directions-alt" class="button button--blue" *ngIf="isAuthorized && !isDocEditView"
    iconPos="left" style="float: right; margin-left: 10px" label="Edit Document" (click)="editLetter()"></button>

      <button pButton type="button" icon="pi pi-search-directions-alt" class="button button--primary" *ngIf="isAuthorized && isDocEditView"
    iconPos="left" style="float: right; margin-left: 10px" label="Save Document" (click)="saveLetter()"></button>
  </div>

  <!-- <div class="col-12" *ngIf="showDocView">
      Deficiency Letter
      <app-application-letter [(id)]="item_id" [(name)]="item_name"></app-application-letter>
    </div> -->

  <div *ngIf="isStepOne" class="col-3">
    <div class="form__label">Who do you want to asssign this to?</div>
      <p-dropdown
        [options]="listingAnalysts"
        [(ngModel)]="selectedValue"
        placeholder="--Select--"
        optionLabel="label"
        styleClass="w-100"
      ></p-dropdown>
  </div>

  <div class="col-3"></div>
</div>

<div class="col-12" style="margin-top: 5%; background: #fff; margin: 3rem 0; padding: 3rem 2rem" *ngIf="isAuthorized">
  <button pButton type="button" icon="pi pi-search-directions-alt" class="button button--blue" *ngIf="showSendBack"
    iconPos="left" style="float: none; margin-left: 10px" label="Re-work" (click)="submitForm(-1)"></button>

  <button pButton type="button" icon="pi pi-thumbs-down" class="button button--red" iconPos="left" *ngIf="showDeclineBtn"
    style="float: none; margin-left: 100px" label="{{ reviewButtons.rejectionText }}" (click)="submitForm(0)"></button>

  <button pButton type="button" icon="pi pi-thumbs-up" class="button button--primary" iconPos="left"
    style="float: none; margin-left: 100px" label="{{reviewButtons.approvalText}}" (click)="submitForm(1)"></button>

  <button pButton type="button" icon="pi pi-comment" class="button button--primary" iconPos="left"
    style="float: none; margin-left: 100px" label="Review" (click)="reviewForm()"></button>
</div>

<!-- fullScreen="true" -->
<!-- <p-sidebar [(visible)]="viewApplicationLetters" position="right" [baseZIndex]="10000"
  [style]="{ overflow: 'auto', height: '100%', width: '70%' }" blockScroll="true">
  <div class="dashboard">
    <section class="px-4 py-2 bg-white content">
      <div class="container-fluid">
        <p-table #dt [columns]="cols" class="table" [rows]="10" [rowHover]="true" [paginator]="true" [loading]="loading"
          dataKey="id" [value]="ApprovalLetters">
          <ng-template pTemplate="caption">
            <div class="table-header p-grid">
              <div class="text-left p-col-4">
                <span class="mb-0 heading">{{
                  "Application Letters" | localize
                }}</span>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr class="numbered-header">
              <th>Id</th>
              <th>Title</th>
              <th>Initited By</th>
              <th>Review Status</th>
              <th>Approved</th>
              <th></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-column>
            <tr class="p-selectable-row">
              <td>{{ column.id }}</td>
              <td>{{ column.title }}</td>
              <td>{{ column.initiatedBy }}</td>
              <td>{{ column.reviewStatus }}</td>
              <td>{{ column.isApproved }}</td>
              <td (click)="downloadApplicationLetter(column)">
                Download
                <i class="pi pi-download"> 
                </i>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </section>
  </div>
</p-sidebar> -->
<p-sidebar [(visible)]="viewApprovalLog" position="right" [baseZIndex]="10000"
  [style]="{ overflow: 'auto', height: '100%', width: '70%' }" blockScroll="true">
  <div class="dashboard">
    <section class="px-4 py-2 bg-white content">
      <div class="container-fluid">
        <p-table #dt [columns]="cols" class="table" [rows]="20" [rowHover]="true" [paginator]="true" [loading]="loading"
          dataKey="id" [value]="lstApprovalLog">
          <ng-template pTemplate="caption">
            <div class="table-header p-grid">
              <div class="text-left p-col-4">
                <span class="mb-0 heading">{{
                  "Approval Log" | localize
                }}</span>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr class="numbered-header">
              <th>Step No</th>
              <th>Step Name</th>
              <th>Reviewer</th>
              <th>Description</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-column>
            <tr class="p-selectable-row">
              <td>{{ column.stepSn }}</td>
              <td>{{ column.stepLabel }}</td>
              <td>{{ column.fullName }} - {{ column.roleName }}</td>
              <td>{{ column.description }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </section>
  </div>
</p-sidebar>

<!-- <p-dialog
    [(visible)]="downloadAppLetterModal"
    position="center"
    [modal]="true"
    styleClass="default-modal"
  >
    <p-header class=""> </p-header>

    <div class="default-modal-body">
      <div class="col-12">
        <div class="text-right pb-4 pt-4">
          <button
            pButton
            type="button"
            icon="pi pi-download"
            class="button button--green"
            iconPos="left"
            (click)="getPdf(selectedApplicationLetter)"
            label="Download"
          ></button>
        </div>
        <div [id]="'template_editor'+selectedApplicationLetter?.id" style="padding: 5%; display: block; background-color: white"
          [innerHTML]="selectedApplicationLetter?.body"></div>
      </div>
    </div>
  </p-dialog> -->
<!--

      <app-doc-template-item-dialog [(visible)]="displayItemDialog" [(id)]="item_id" [(name)]="item_name"
      [(approvalProcessList)]="approvalProcessList"
        [(docTemplate)]="docTemplate"  (loadDocTemplates)="loadDocTemplates()"></app-doc-template-item-dialog> -->
