<div [@routerTransition] class="application">



  <section class="content-header bg-white application-header vh-100" id="print-content">
    <div class="container-fluid text-center">

      <!--  payment success start -->
      <!-- <div class="row justify-content-center align-items-center text-center">
        <div class="col-12 my-5">
          <img src="assets/img/success.png">
          <h1 class="text-success mt-4">Payment was successful</h1>
        </div>

        <div class="col-md-6 align-self-center">
        
          <div class="mb-3"><span class="p-text-bold mb-0 w-50 text-left float-left ml-0 ">Payment type:</span>   <span class="w-50 text-right float-right">X-Pay </span>   </div> 
          <div class="mb-3"><span class="p-text-bold mb-0 w-50 text-left ml-0 float-left ">Email Address:</span>   <span class="w-50 text-right float-right">francis@nse.com.ng </span>   </div> 
          <div class="mb-3"><span class="p-text-bold mb-0 w-50 text-left ml-0 float-left ">Reference No:</span>   <span class="w-50 text-right float-right">XZCDSFGJSD </span>   </div> 
          <div class="mb-3"><span class="p-text-bold mb-0 w-50 text-left ml-0 float-left ">Amount Paid:</span>   <span class="w-50 text-right float-right">N30,000.23 </span>   </div> 
          <div class="mb-3"><span class="p-text-bold mb-0 w-50 text-left ml-0 float-left">Transaction ID: </span>   <span class="w-50 text-right float-right">1232312411NSE1234 </span>   </div> 
          <div class="mb-3"><span class="p-text-bold mb-0 w-50 text-left ml-0 float-left">Date Paid: </span>   <span class="w-50 text-right float-right">12, November 2020 </span>   </div> 
    
          <button
          pButton
          type="button"
          icon="pi pi-print"
          class="button button--green mt-3"
          iconPos="left"
          label="Print Receipt"
          (click)="printReceipt()"
        ></button>

        </div>
       
      </div> -->

      <!-- payment success ends -->


<!-- ------------------------------------------- -->

      <!--  payment failure start -->
      <div class="row justify-content-between align-items-center text-center ">

        <div class="col-12 my-5">
          <img src="assets/img/failure.png">
          <h1 class="text-danger mt-4">Error in processing payment</h1>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-6 ">

          <div class="mb-3 text-center">We are sorry, but your current payment method could not be processed. Please
            contact your financial institution and Try again or Try a different payment method </div>
          <button pButton type="button" class="button button--primary mt-2" iconPos="left" label="Try again"></button>
        </div>
      </div>

      <!-- payment failure ends -->



    </div>
  </section>











<!-- -------------------------------------------------- -->




  <!-- the previous code before i added the payment results-->
    <!-- <section class="content-header bg-white application-header">
    <div class="container-fluid">
      <div class="row justify-content-between align-items-start">
        <div>
          <h1 class="heading">{{ "New Broker Application" | localize }}</h1>
          <p class="paragraph mb-0">Unique Application ID: NSE1234</p>
        </div>

        <div>
          <button
            pButton
            type="button"
            icon="pi pi-save"
            class="button button--blue"
            iconPos="left"
            label="Save Progress"
          ></button>
        </div>
      </div>
    </div>
  </section>

  <section class="content px-0 bg-white application-main">
    <div class="container-fluid p-0">
      <p-tabView styleClass="mt-2" [activeIndex]="index">
        <p-tabPanel header="Provide Information" class="application-sections">
          <app-provide-information
            (openNext)="openNext()"
          ></app-provide-information>
        </p-tabPanel>

        <p-tabPanel header="Document Checklist">
          <app-document-checklist
            (openNext)="openNext()"
            (openPrev)="openPrev()"
          ></app-document-checklist>
        </p-tabPanel>

        <p-tabPanel header="Review & Submit">
          <app-review (openPrev)="openPrev()"></app-review>
        </p-tabPanel>
      </p-tabView>
    </div>
  </section>  -->


</div>
