<ngx-ui-loader text="Please wait..." textColor="#ffffff"></ngx-ui-loader>
<form class="form-horizontal" autocomplete="off" #editOrganizationModal="ngForm" (ngSubmit)="save()">
  <abp-modal-header title="Edit Organization" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="organizationType">
        Organization Type
      </label>
      <div class="col-md-9">
        <p-dropdown required [options]="organizationTypes" [filter]="true" [showClear]="true" dataKey="id"
          optionLabel="name" [(ngModel)]="selectedOrganizationType" (onChange)="onChange($event)" id="organizationType"
          name="organizationType" #organizationTypeModel="ngModel" #countryIdEl
          placeholder="--Select Organization Type--" styleClass="w-100">
        </p-dropdown>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">
        Organization Name
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="name" id="name" required maxlength="100"
          [(ngModel)]="organization.name" #nameModel="ngModel" #nameEl />
        <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="email">
        Email
      </label>
      <div class="col-md-9">
        <input type="email" class="form-control" name="email" id="email" required maxlength="100"
          [(ngModel)]="organization.email" #emailModel="ngModel" #emailEl />
        <abp-validation-summary [control]="emailModel" [controlEl]="emailEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="rcNumber">
        Registration Number
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="rcNumber" id="rcNumber" required maxlength="100"
          [(ngModel)]="organization.rcNumber" #rcNumberModel="ngModel" #rcNumberEl />
        <abp-validation-summary [control]="rcNumberModel" [controlEl]="rcNumberEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="address">
        Company Address
      </label>
      <div class="col-md-9">
        <textarea type="text" class="form-control" name="address" id="address" required maxlength="250"
          [(ngModel)]="organization.address" #addressModel="ngModel" #addressEl rows="7"></textarea>
        <abp-validation-summary [control]="addressModel" [controlEl]="addressEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="name">
        Date Of Incorporation
      </label>
      <div class="col-md-9">
        <label class="form-control">
          {{ organization.dateOfIncorporation | date:'dd-MMM-yyyy' }}
        </label>
      </div>
    </div>
    <!-- <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="dateOfIncorporation">
        Date of Incorporration
      </label>
      <div class="col-md-9">
        <p-calendar required name="dateOfIncorporation" id="dateOfIncorporation" required maxlength="100"
          [(ngModel)]="organization.dateOfIncorporation" #dateOfIncorporationModel="ngModel" #dateOfIncorporationEl
          styleClass="w-100" inputStyleClass="w-100" [readonlyInput]="true"></p-calendar>
        <abp-validation-summary [control]="dateOfIncorporationModel" [controlEl]="dateOfIncorporationEl">
        </abp-validation-summary>
      </div>
    </div> -->
    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label" for="isActive">
        {{ "IsActive" | localize }}
      </label>
      <div class="col-md-9">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="isActive" id="isActive"
            [(ngModel)]="organization.isActive" />
          <label class="custom-control-label mt-2" for="isActive"></label>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editOrganizationModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>