﻿<div [@routerTransition]>
  <!-- <h4 class="auth__title mb-0">{{ "Welcome," | localize }}</h4> -->
  <h4 class="auth__title mb-1">{{ "E-Filing Login" | localize }}</h4>
  <form novalidate autocomplete="off" #loginForm="ngForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username" class="form__label">Username</label>
      <div class="input-group">
        <input
          type="text"
          id="username"
          class="form-control"
          name="userNameOrEmailAddress"
          [(ngModel)]="authService.authenticateModel.userNameOrEmailAddress"
          [placeholder]="'UserName' | localize"
          required
          maxlength="256"
          #userNameOrEmailAddressModel="ngModel"
          #userNameOrEmailAddressEl
        />
      </div>
      <abp-validation-summary
        [control]="userNameOrEmailAddressModel"
        [controlEl]="userNameOrEmailAddressEl"
      ></abp-validation-summary>
    </div>
    <div class="form-group">
      <label for="username" class="form__label">Password</label>
      <div class="input-group">
        <input
          [type]="showPassword ? 'text' : 'password'"
          class="form-control"
          name="password"
          [(ngModel)]="authService.authenticateModel.password"
          [placeholder]="'Password' | localize"
          required
          maxlength="32"
          #passwordModel="ngModel"
          #passwordEl
        />
        <div class="input-group-append" (click)="togglePassword()">
          <div class="input-group-text">
            <span
              [class]="showPassword ? 'far fa-eye-slash' : 'far fa-eye'"
            ></span>
          </div>
        </div>
      </div>
      <abp-validation-summary
        [control]="passwordModel"
        [controlEl]="passwordEl"
      ></abp-validation-summary>
    </div>
    <div class="form-group row">
      <div class="col-6">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="rememberMe"
            name="rememberMe"
            [(ngModel)]="authService.rememberMe"
          />
          <label for="rememberMe" class="custom-control-label">
            {{ "RememberMe" | localize }}
          </label>
        </div>
      </div>
      <div class="col-6 text-right">
        <a [routerLink]="['../forgot-password']" class="auth__link">
          {{ "Forgot password?" | localize }}
        </a>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <button
          type="submit"
          class="btn btn-primary btn-block w-100"
          [disabled]="!loginForm.form.valid || submitting"
        >
          {{ submitting ? "" : ("LogIn" | localize) }}
          <p-progressSpinner
            *ngIf="submitting"
            [style]="{ width: '30px', height: '30px' }"
            strokeWidth="6"
            animationDuration=".5s"
          ></p-progressSpinner>
        </button>
      </div>
    </div>
  </form>
  <!-- <p *ngIf="isSelfRegistrationAllowed" class="mb-2 mt-2 text-center">
    Don’t have an account?
    <a [routerLink]="['../register']" class="auth__link">
      {{ "Register here" | localize }}
    </a>
  </p> -->
</div>
