<p-dialog
  [(visible)]="visible"
  position="center"
  [modal]="true"
  styleClass="default-modal"
  (onHide)="closeModal()"
  appendTo="body"
  [dismissableMask]="false"
>

  <p-header class=""> New Application </p-header>

  <div class="default-modal-body">
    <div class="form-group">
      <div class="form__label">Select Type of Security</div>

      <p-dropdown
        [options]="arr"
        [(ngModel)]="selectedValue"
        placeholder="--Select--"
        optionLabel="label"
        styleClass="w-100"
      ></p-dropdown>
    </div>

    <div class="form-group">
      <div class="form__label">Select Listing type</div>
      <p-dropdown
        [options]="arr2"
        [(ngModel)]="selectedValue2"
        placeholder="--Select--"
        optionLabel="label"
        styleClass="w-100"
      ></p-dropdown>
    </div>

    <div class="text-center pb-4 pt-4">
      <button
        pButton
        type="button"
        icon="pi pi-plus"
        class="button button--green"
        iconPos="left"
        (click)="showDialog()"
        label="Create"
      ></button>
    </div>
  </div>
</p-dialog>
