<ngx-ui-loader text="Loading..." textColor="#ffffff"></ngx-ui-loader>
<div class="bg-white application-tab content">
  <div class="top-actions">
    <button pButton type="button" class="button button--primary pull-rigth" label="Initiate Letter Process"
      (click)="showInitiateLetterDialog()"></button>
  </div>

  <div></div>
  <div class="row justify-content-between">
    <div class="col-md-4" style="max-height: 500px; overflow: auto; font-size: 13px;">
      <p class="review-section-header">Review Messages</p>
      <div *ngFor="let message of reviewMessages" class="mb-4 reviews">
        <p class="title">
          <strong> Section:</strong> {{ message.formSectionName ? message.formSectionName : "Review comment" }}
        </p>
        <p class="msg"><strong> Message: </strong>{{ message.message }}</p>
        <p *ngIf="message.filePath !='' && message.filePath!=null" style="font-size: 10px; color:#2d9cdb; text-decoration:underline;">
            <a target="_blank" [href]="message.filePath">Download Attached File</a></p>
        <div class="foot">
          <p>By: {{ message.postedBy }}</p>
          <p class="date">{{ message.datePosted | date }}</p> 
        </div>
      </div>
    </div>

    <div class="col-md-3" style="max-height: 500px; overflow: auto; font-size: 13px;">
      <p class="review-section-header">Uploaded Documents</p>
      <div *ngFor="let logdoc of lstApprovalLogDocs" class="mb-4 reviews">
        <div  *ngIf="logdoc.filePath !='' && logdoc.filePath!=null">
          <p class="title"> {{ logdoc.uploadedBy }}  on {{ logdoc.dateCreated | date }}</p> 
          <p style="font-size: 12px; color:#2d9cdb; text-decoration:underline;">
              <a target="_blank" [href]="logdoc.filePath">{{ logdoc.fileName }}</a></p> 
        </div> 
      </div>
    </div>


    <div class="col-md-5 reviews">
      <p class="review-section-header" style="margin-top: 15px;">Create new Review</p>
      <form class="form-horizontal" #reviewForm="ngForm" novalidate>
        <label class="form__label" for="">Select Form Section</label>
        <div class="form-group">
          <p-dropdown placeholder="--Select Form Section--" styleClass="w-100" [options]="formSections"
            [(ngModel)]="formSectionId" name="formSectionId" optionLabel="name" [required]="true"></p-dropdown>
        </div>
        <div class="form-group" style="display: flex; flex-direction: column">
          <label class="form__label" for="">Enter Review message</label>
          <textarea pInputTextarea autoResize="true" [cols]="70" [rows]="5" [(ngModel)]="reviewMessage.message"
            name="message" styleClass="w-100" required></textarea>
        </div>
        <div class="form-group">
          <label class="form__label" for="">Upload Document</label>
          <br />
          <input type="file" name="" #reviewFile (change)="onFileUpload($event.target.files)" />
        </div>
        <div class="text-right w-100">
          <button pButton type="button" class="mr-4 button button--blue" (click)="handleOpenPrevious()"
            label="Go Back"></button>
          <button pButton type="submit" class="mr-4 button button--primary" label="Save Review"
            (click)="SaveReviewMessage(reviewForm)"></button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <app-initiate-letter-dialog
  [(visible)]="initiateLetterDialog"
></app-initiate-letter-dialog> -->
<p-dialog header="Title" [(visible)]="initiateLetterDialog" position="center" [modal]="true" styleClass="default-modal">
  <p-header class=""> Initiate Report </p-header>

  <div class="default-modal-body">
    <div class="form-group">
      <div class="form__label">Select Template</div>

      <p-dropdown [options]="lstDocTemplates" [(ngModel)]="selectedDocTemplate" placeholder="--Select--"
        optionLabel="name" styleClass="w-100"></p-dropdown>
    </div>

    <div class="pt-4 pb-4 text-center">
      <button pButton type="button" icon="pi pi-plus" class="button button--green" iconPos="left" label="Use Template"
        (click)="editDocTemplate(selectedDocTemplate)"></button>
    </div>
    <!-- (click)="assignApplication()" -->
  </div>
</p-dialog>
<p-sidebar [(visible)]="displayApplicationLetter" position="right" [baseZIndex]="10000"
  [style]="{ overflow: 'auto', height: '100%' }" fullScreen="true">
  <div class="default-modal-body letter">
    <div class="letter-title">
      <p-header class="content-header">
        {{ dialogTitle }}
      </p-header>
    </div>
    <div class="form-group">
      <label class="form__label" for="title">Template Name</label>
      <input type="text" readonly [(ngModel)]="docTemplate.name" class="form-control" />
    </div>
    <div class="form-group">
      <label class="form__label" for="title">Approval Process</label>
      <select [(ngModel)]="docTemplate.approvalProcessId" class="form-control" aria-placeholder="--Select--">
        <option value="0">--Select--</option>
        <option *ngFor="let proc of approvalProcessList" [value]="proc.id">
          {{ proc.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label class="form__label" for="title">Template Body</label>
      <angular-editor [config]="editorConfig" [placeholder]="'Enter text here...'" [(ngModel)]="docTemplate.template">
      </angular-editor>

      <!-- <p-editor [(ngModel)]="docTemplate.template" [style]="{'height':'320px'}"></p-editor>  -->
    </div>
    <div class="pt-4 pb-4 text-center">
      <!-- (click)="getPdf()" -->
      <button pButton type="button" icon="pi pi-file-pdf" class="button button--red" iconPos="left"
        style="margin-right: 10px" label="Generate PDF"></button>

      <button (click)="saveform()" pButton type="button" icon="pi pi-plus" class="button button--primary" iconPos="left"
        label="Save Letter"></button>
    </div>
  </div>

  <div id="template_editor" style="padding: 5%; display: none" [innerHTML]="docTemplate.template"></div>
</p-sidebar>