$colors: (
  ash: #f0f2f5,
  black: #000,
  blue: #2d9cdb,
  dark: #4f4f4f,
  darker: #262626,
  light-grey: rgba(240, 242, 253, 0.5),
  light-blue: #56ccf2,
  gold: #c4cc0b,
  green: #27ae60,
  grey: #c4c4c4,
  orange: #f2994a,
  primary: #a6ab2d,
  yellow: #e9b71f,
  red: #eb5757,
  white: #fff,
  nse:  #a6ab2d
);

$main-font: "CircularStd", sans-serif;

$status-colors: (
  blue: #56ccf2,
  orange: #f2994a,
  green: #27ae60,
  nse: #a6ab2d,
  grey: #4f4f4f,
  red: #ff0000,
  purple: #9b51e0,
  brown: rgb(160, 96, 37),
);

$font-weights: (
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  black: 900,
);

$font-sizes: (
  x-small: 12px,
  small: 14px,
  regular: 16px,
  medium: 18px,
  large: 24px,
  m-large: 35px,
  x-large: 48px,
  xx-large: 60px,
);
