<form class="form-horizontal" autocomplete="off" #viewRequiredApplicationDocumentModal="ngForm">
    <abp-modal-header title="View  Required Application Document" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-md-3 col-form-label">
                Application Type
            </label>
            <div class="col-md-9">
                <label class="form-control">
                    {{requiredApplicationDocument.applicationType?.name}}
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="name">
                Document Name
            </label>
            <div class="col-md-9">
                <label class="form-control">
                    {{requiredApplicationDocument.name}}
                </label>
            </div>
        </div>
        <div class="form-group row mb-0">
            <label class="col-md-3 col-form-label">
                {{ "IsMandatory" | localize }}
            </label>
            <div class="col-md-9">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" disabled name="isMandatory" id="isMandatory"
                        [(ngModel)]="requiredApplicationDocument.isMandatory" />
                    <label class="custom-control-label mt-2" for="isMandatory"></label>
                </div>
            </div>
        </div>
        <div class="form-group row mb-0">
            <label class="col-md-3 col-form-label">
                {{ "IsActive" | localize }}
            </label>
            <div class="col-md-9">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" disabled name="isActive" id="isActive"
                        [(ngModel)]="requiredApplicationDocument.isActive" />
                    <label class="custom-control-label mt-2" for="isActive"></label>
                </div>
            </div>
        </div>
    </div>
    <abp-modal-cancel-footer (onCancelClick)="bsModalRef.hide()"></abp-modal-cancel-footer>
</form>