<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row justify-content-between align-items-start">
        <div class="col-6">
          <h1 class="heading">{{ "Organizations" | localize }}</h1>
        </div>
        <div class="col-6 text-right">
          <button pButton type="button" icon="pi pi-plus" class="button button--primary" iconPos="left"
            label="Create Organization" *ngIf="isGranted('CreateOrganization')" (click)="createOrganization()"></button>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-4 bg-white">
    <div class="container-fluid">
      <p-table #dt [columns]="cols" class="table" [rows]="10" [lazy]="true"
        [currentPageReportTemplate]="'Showing Page {currentPage} of {totalPages} of {totalRecords} records'"
        [showCurrentPageReport]=true [totalRecords]="totalItems"
        (onLazyLoad)="getDataPage(($event.first + 10) / $event.rows)" [rowHover]="true" [paginator]="true"
        [loading]="isTableLoading" dataKey="id" [value]="organizations">
        <ng-template pTemplate="caption">
          <div class="table-header">
            <span class="heading mb-0">{{ "List of organizations" | localize }}</span>

            <span class="p-input-icon-left table-search">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Search Application" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr class="numbered-header">
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
            <th [hidden]="!isGrantedAny('EditOrganization', 'DeleteOrganization', 'ViewOrganization')">
              Actions
            </th>
          </tr>
          <tr>
            <th></th>
            <th>
              <input pInputText type="text" (input)="dt.filter($event.target.value, 'name', 'contains')"
                placeholder="Search by organization name" class="p-column-filter form-control" />
            </th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-organization let-rowIndex="rowIndex">
          <tr class="p-selectable-row">
            <td>
              {{rowIndex + 1}}
            </td>
            <td>
              <span *ngIf="organization.isActive" class="ng-tns-c172-6 status-circle--green table-circle"></span>
              <span *ngIf="!organization.isActive" class="ng-tns-c172-6 status-circle--red table-circle"></span>
              {{ organization.name }}
            </td>
            <td>
              {{ organization.organizationTypeName }}
            </td>
            <!-- <td>
              {{ organization.rcNumber }}
            </td>
            <td>
              {{ organization.address }}
            </td> -->
            <td>
              {{ organization.dateOfIncorporation | date:'dd-MMM-yyyy' }}
            </td>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" disabled [checked]="organization.isActive" />
                <label class="custom-control-label"></label>
              </div>
            </td>
            <td [hidden]="!isGrantedAny('EditOrganization', 'DeleteOrganization', 'ViewOrganization')">
              <p-splitButton label="Action" [model]="buttonItems" styleClass="p-button-secondary table-action"
                (onDropdownClick)="setSelectedOrganization(organization)"></p-splitButton>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </section>
</div>