<section class="content-header bg-white  p-5">
  <div class="container text-center">

    <div class="shadow p-5 border border-secondary">
     
      <h3 class="heading">Application Confirmation & Payment</h3>
      <div class="application-info">
        Kindly confirm that all the information provided below is correct before proceeding to pay.
      </div>
      
      <div class=" text-capitalize my-4 font-weight-light text-nse"> APPLICATION SUMMARY 
        
      </div>
      
      
    


      <div class="row justify-content-center mb-3 pl-5">
        <div class="col-md-6 text-left">
          <p class="paragraph mb-0">Unique Application ID: </p>
          <p class="paragraph font-bold"> NSE1234</p>
        </div>
    
        <div class="col-md-6 text-left ">
          <p class="paragraph mb-0 ">DMF: </p>
          <p class="paragraph font-bold">Insert Name</p>
        </div>
    
    
        <div class="col-md-6 text-left">
          <p class="paragraph mb-0">Unique Application ID: </p>
          <p class="paragraph font-bold"> NSE1234</p>
        </div>
    
        <div class="col-md-6 text-left ">
          <p class="paragraph mb-0 ">DMF:</p>
          <p class="paragraph font-bold">Insert Name</p>
        </div>
    
  
    <div class="col-md-6 text-left">
      <p class="paragraph mb-0">Unique Application ID: </p>
      <p class="paragraph font-bold"> NSE1234</p>
    </div>

    <div class="col-md-6 text-left ">
      <p class="paragraph mb-0 ">DMF:</p>
      <p class="paragraph font-bold">Insert Name</p>
    </div>


    <div class="col-md-6 text-left">
      <p class="paragraph mb-0">Unique Application ID: </p>
      <p class="paragraph font-bold"> NSE1234</p>
    </div>

    <div class="col-md-6 text-left ">
      <p class="paragraph mb-0 ">DMF:</p>
      <p class="paragraph font-bold">Insert Name</p>
    </div>


    <div class="col-md-6 text-left">
      <p class="paragraph mb-0">Unique Application ID: </p>
      <p class="paragraph font-bold"> NSE1234</p>
    </div>

    <div class="col-md-6 text-left ">
      <p class="paragraph mb-0 ">DMF:</p>
      <p class="paragraph font-bold">Insert Name</p>
    </div>


    <div class="col-md-6 text-left">
      <p class="paragraph mb-0">Unique Application ID: </p>
      <p class="paragraph font-bold"> NSE1234</p>
    </div>

    <div class="col-md-6 text-left ">
      <p class="paragraph mb-0 ">DMF:</p>
      <p class="paragraph font-bold">Insert Name</p>
    </div>

  </div>

  <hr />
  <div class="row text-center justify-content-center mb-3 ">

    <div class="col-md-6 shadow-md ">
      <p class="paragraph mb-0">Total Amount to Pay: </p>
      <h3 class="font-bold text-nse"> N30,000.00</h3>
    </div>


  </div>



   
  <div class="form-group row">
    <div class="col-12 text-center">
      <div>
        <input
          type="checkbox"
          class=""
          id="accept"
          name="accept"
      
        />
        <label for="Accept" class="ml-2">
        I confirm the details in the summary are correct and wish to proceed to payment
        </label>
      </div>
    </div>
  
  </div>

  <div class="my-2">
    <button pButton type="button" class="button button--outlined button--outlined-primary mr-3"
      label="Cancel"></button>

    <button pButton type="button" class="button button--primary" label="Proceed to pay"></button>
  </div>
  
      
      <div class="text-small" style="font-size: smaller; font-weight: 200; font-style: italic;">
       By proceeding to pay, you have accepted all the terms and conditions. <br/>Please ensure the right mode of payment is used and rest assured your data will not be shared with any 3rd party
      </div>

    


    </div>





  </div>
</section>
