<div class="application-tab document">
  <h3 class="heading">Your Document Checklist</h3>

  <div class="application-info">
    <p>
      Required documents neeeded to complete this application are listed below.
      Kindly ensure Lorem ipsum dolor sit amet, 
    </p>
  </div>

  <section class="content px-4 py-1 bg-white p-shadow-1">
    <div class="container-fluid">
      <p-table
        #dt
        [columns]="cols"
        class="table"
        [rows]="10"
        [rowHover]="true"
        [paginator]="true"
        [loading]="loading"
        dataKey="id"
        [value]="documents"
      >
        <!-- <ng-template pTemplate="caption">
          <div class="table-header">
            <span class="heading mb-0 color-primary">{{
              "Compulsory Documents" | localize
            }}</span>

          <span class="p-input-icon-left table-search">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Search Documents"
              />
            </span> 
          </div>
        </ng-template> -->

        <ng-template pTemplate="header" let-columns>
          <tr class="numbered-header">
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>

          <!-- <tr>
            <th></th>
            <th>
              <input
                pInputText
                type="text"
                (input)="dt.filter($event.target.value, 'name', 'contains')"
                placeholder="Search by document name"
                class="p-column-filter form-control"
              />
            </th>
            <th>
              <input
                pInputText
                type="text"
                (input)="dt.filter($event.target.value, 'document', 'contains')"
                placeholder="Search by document"
                class="p-column-filter form-control"
              />
            </th>
            <th></th>
          </tr> -->
        </ng-template>

        <ng-template pTemplate="body" let-document>
          <tr class="p-selectable-row">
            <td>
              {{ document.sn }}
            </td>
            <td style="white-space: nowrap">
              {{ document.name }}
            </td>
            <td>
              <span
                [ngClass]="document.document ? 'color-green' : 'color-red'"
                >{{ document.document || "Yet to upload" }}</span
              >
            </td>
            <td>
              <button
                pButton
                type="button"
                icon="pi pi-upload"
                class="button button--primary"
                iconPos="left"
                label="Upload"
                *ngIf="!document.document"
              ></button>

              <p-splitButton
                label="Action"
                [model]="buttonItems"
                styleClass="p-button-secondary table-action"
                (onDropdownClick)="setSelectedDocument(document)"
                *ngIf="document.document"
              ></p-splitButton>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </section>


  <div class="text-right mb-5 mt-4 w-100">
    <button
      pButton
      type="button"
      class="button button--outlined button--outlined-primary mr-3"
      label="Back"
      (click)="handlePrev()"
    ></button>

    <button
      pButton
      type="button"
      [disabled]="submitting"
      class="button button--primary"
      (click)="handleOpenNext()"
      label="Submit"
    ></button>
  </div>
</div>
