<ngx-ui-loader text="Loading..." textColor="#ffffff"></ngx-ui-loader>
<div class="bg-white application-tab content">
  <p-button type="text" [style]="{
      position: 'fixed',
      right: '-1px',
      top: '9rem',
      'z-index': 1000,
      'border-top-left-radius': '1.3rem',
      'border-bottom-left-radius': '1.3rem',
      'background-color': '#aba708',
      border: '1px solid #aba708',
      padding: '0.3rem'
    }" (click)="display = true" label="View Activity Log"></p-button>
  <p-sidebar [(visible)]="display" position="right" [baseZIndex]="10000" blockScroll="false"
    [style]="{ overflow: 'auto', height: '100%' }">
    <br />
    <div class="log-container" *ngIf="applicationData">
      <h1>Activity Log</h1>
      <div *ngFor="let item of applicationLogs" class="log-item">
        <h3>{{ item.title }}</h3>
        <p><strong>Message: </strong> {{ item.message }}</p>
        <small>
          <strong> Date:</strong> {{ item.dateCreated | date: "short" }}</small>
      </div>
    </div>
    <br />
  </p-sidebar>

  <p-button type="text" [style]="{
    position: 'fixed',
    right: '-1px',
    top: '210px',
    'z-index': 1000,
    'border-top-left-radius': '1.3rem',
    'border-bottom-left-radius': '1.3rem',
    'background-color': '#aba708',
    border: '1px solid #aba708',
    padding: '0.3rem'
  }" (click)="viewApplicationLetters = true" label="Reports/Documentation"></p-button>
<!-- fullScreen="true" -->
<p-sidebar [(visible)]="viewApplicationLetters" position="right" [baseZIndex]="10000"
  [style]="{ overflow: 'auto', height: '100%', width: '70%' }" blockScroll="true">
  <div class="dashboard">
    <section class="px-4 py-2 bg-white content">
      <div class="container-fluid">
        <p-table #dt  class="table" [rows]="10" [rowHover]="true" [paginator]="true" 
          dataKey="id" [value]="ApprovalLetters">
          <ng-template pTemplate="caption">
            <div class="table-header p-grid">
              <div class="text-left p-col-4">
                <span class="mb-0 heading">{{
                  "Reports/Documentation" | localize
                }}</span>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr class="numbered-header">
              <!-- <th>Id</th> -->
              <th style="width:30%">Title</th>
              <th>Initited By</th>
              <th>Review Status</th>
              <!-- <th>Approved</th> -->
              <th></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-column>
            <tr class="p-selectable-row">
              <!-- <td>{{ column.id }}</td> -->
              <td>{{ column.title }}</td>
              <td>{{ column.initiatedBy }}</td>
              <td>{{ column.reviewStatus }}</td>
              <!-- <td>{{ column.isApproved }}</td> -->
              <td (click)="downloadApplicationLetter(column)">
                Download
                <i class="pi pi-download">
                  <!-- <div [id]="column.id" [innerHtml]="column.body"></div> -->
                </i>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </section>
  </div>
</p-sidebar> 
<style>
  .largeDialog {
    z-index: 1002;
      margin: 0px;
      position: fixed;
      left: 20%;
      top: 53.8889px;
      width: 65%;
  }
</style>
<p-dialog
    [(visible)]="downloadAppLetterModal"
    position="center"
    [modal]="true"
    styleClass="largeDialog"  
    >
    <p-header class=""></p-header>

    <div class="default-modal-body">
      <div class="col-12">
        <div class="text-right pb-4 pt-4">
          <button
            pButton
            type="button"
            icon="pi pi-download"
            class="button button--green"
            iconPos="left"
            (click)="getPdf(selectedApplicationLetter)"
            label="Download"
          ></button>
        </div>
        <div [id]="'template_editor'+selectedApplicationLetter?.id" style="padding: 5%; display: block; background-color: white"
          [innerHTML]="selectedApplicationLetter?.body"></div>
      </div>
    </div>
  </p-dialog>










  <div class="row justify-content-between">
    <div class="col-md-12 row justify-content-between">
      <div class="col-md-12" *ngFor="let section of applicationFields; index as i">
        <p class="review-section-header">{{ i + 1 }}. {{ section.name }}</p>
        <div class="row justify-content-between">
          <div class="col-md-4" *ngFor="let field of section.fields" [ngSwitch]="field.fieldType">
            <div class="" *ngSwitchDefault>
              <dl>
                <dt>{{ field.label }}:</dt>
                <!-- <p>{{ applicationData[field.name] }}</p> -->
                <dd *ngIf="!isObject(applicationData[field.name])">
                  {{ applicationData[field.name] }}
                </dd>
                <dd *ngIf="isObject(applicationData[field.name])">
                  {{ applicationData[field.name]?.name }}
                </dd>
              </dl>
            </div>
            <div class="" *ngSwitchCase="'sub-section'">
              <div *ngFor="let subField of field.subSection">
                <dl>
                  <dt>{{ subField.label }}:</dt>
                  <dd>{{ applicationData[subField.name] }}</dd>
                </dl>
              </div>
            </div>
            <div class="" *ngSwitchCase="'table'">
              <div *ngFor="let data of field.data; index as id">
                <div *ngFor="let row of data.row">
                  <dl *ngIf="applicationData[field.name]">
                    <dt>
                      {{ row.label }}:
                      {{ applicationData[field.name][id][row.name] }}
                    </dt>

                    <dd>
                      <!-- {{
                           applicationData
                             ? applicationData[field.name][id][row.name]
                             : ""
                         }} -->
                      <!-- {{ applicationData?.amount }} -->
                      <!-- {{ $any(applicationData).$any(field.name)[id].row.name }} -->
                    </dd>
                  </dl>
                </div>
              </div>
              <div *ngFor="let data of field.summary; index as id">
                <p class="review-section-header">{{ data.name }}</p>
                <div *ngFor="let summary of data.fields; index as rowId">
                  <dl>
                    <dt>
                      {{ summary.label }}:
                      {{ applicationData[summary.name] }}
                    </dt>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <hr class="divider" />

  <div class="mb-4 row justify-content-between" *ngIf="applicationData">
    <p class="font-small color-dark">Uploaded Documents</p>
  </div>

  <div class="mb-4">
    <div class="mb-4" *ngFor="let doc of applicationData?.requiredDocuments; index as i">
      <span *ngIf="doc.name && doc.document">
        <p><span class="mr-2">{{i+1}}.</span>{{ doc.name }}<a [href]="doc.document" target="_blank"><i
              class="pi pi-window-maximize color-red ml-2"></i></a>
        </p>
      </span>
    </div>
  </div>

  <!-- </div> -->

  <div class="mt-4 mb-5 text-right w-100" *ngIf="applicationData">
    <button pButton type="button" class="mr-3 button button--outlined button--outlined-primary"
      label="Return to Dashboard" (click)="returnToDashboard()"></button>
  </div>
</div>