<p-dialog
  [(visible)]="visible"
  position="center"
  [modal]="true"
  styleClass="default-modal"
>
  <p-header class="">
    {{dialogTitle}}
  </p-header>

  <div class="default-modal-body">
    <div class="form-group">
        <label class="form__label" for="title">Name</label>
        <input
          type="text"
          id="name"
          name="name" 
          [(ngModel)]="name" 
          class="form-control"
        />
    </div>  
    
    <input type="hidden" id="id" name="id" [(ngModel)]="id"  />
    <div class="text-center pb-4 pt-4">
      <button
      (click)="saveform()"
        pButton
        type="button"
        icon="pi pi-plus"
        class="button button--green"
        iconPos="left"
        label="Save"></button>
    </div>

  </div>
</p-dialog>
