<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <header-left-navbar></header-left-navbar>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <span class="nav-link nav-icon" (click)="toggleNotificationDialog()"
        ><i class="far fa-bell"></i
      ></span>

      <app-header-modal
        [showModal]="showNotification"
        (closedModal)="toggleNotificationDialog()"
        [hasViewAll]="true"
        [viewAllText]="'notifications'"
      >
        <li
          *ngFor="let notification of notifications"
          [ngClass]="{ active: notification.isActive }"
        >
          <span class="notification-title">{{ notification.title }}</span>
          <span class="paragraph font-size-small"
            >{{ notification.description }}
          </span>
        </li>
      </app-header-modal>
    </li>

    <li class="nav-item mr-4">
      <span (click)="toggleMessagesDialog()">
        <span class="nav-link nav-icon"><i class="far fa-envelope"></i></span>
        <span class="nav-icon-badge">22</span>
      </span>

      <app-header-modal
        [showModal]="showMessages"
        (closedModal)="toggleMessagesDialog()"
        [hasViewAll]="false"
      >
        <li *ngFor="let msg of messages" [ngClass]="{ active: msg.isActive }">
          <span class="notification-title">{{ msg.title }}</span>
          <span class="paragraph font-size-small">{{ msg.description }} </span>
        </li>
      </app-header-modal>
    </li>

    <header-user-menu></header-user-menu>
  </ul>
</nav>
