.application {
  &-header {
    height: 125px;
  }

  .heading {
    @include font-size(medium);
    @include font-weight(semi-bold);
    margin-bottom: 1rem;

    &--sm {
      @include font-size(small);
    }
  }

  &-main {
    width: calc(100% - 250px);
    height: calc(100vh - 280px);
    position: absolute;
    top: 224px;
    left: 250px;
    overflow-y: auto;

    .ui-tabview-panels {
      padding-left: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  &-section {
    &-body {
      padding: 0;
      overflow-y: auto;

      .section {
        padding-top: 3rem;
        padding-left: 3rem;
        margin-bottom: 2rem;
        min-height: 600px;
      }
    }

    &-nav {
      background: rgba($color: color(grey), $alpha: 0.1);
      width: 100%;
      padding: 4rem 0;

      &-inner {
        @include font-size(medium);
        list-style: none;
        color: color(darker);
        text-transform: capitalize;
        cursor: pointer;
        width: 100%;

        &.active {
          color: color(primary);
        }

        li span {
          @include font-size(small);
          position: relative;
          display: block;
          padding: 1rem 1.5rem;
          border-bottom: 1px solid rgba($color: color(grey), $alpha: 0.2);

          &:after {
            position: absolute;
            left: 0;
            top: 50%;
            width: 4px;
            height: 80%;
            transform: translateY(-50%);
            background-color: color(primary);
          }

          &.active {
            @include font-weight(bold);
            color: color(primary);

            &:after {
              content: "";
            }
          }
        }
      }
    }

    &s {
      .application-tab {
        display: grid;
        grid-template-columns: 200px calc(100% - 200px);
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
      }

      .ui-tabview-panels {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .ui-tabview-nav {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        border-bottom: 1.5rem solid #f0f2f5 !important;
        margin-bottom: 0 !important;
      }
    }
  }

  &-tab {
    padding: 1rem 2rem;
    // max-width: 1200px;

    &.document {
      .application-info {
        background-color: rgba($color: #9bcbda, $alpha: 0.2);
        border: 3px solid rgba($color: color(blue), $alpha: 0.2);
      }
    }
  }

  &-info {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: rgba($color: color(grey), $alpha: 0.2);
  }
}
