.messages {
    &-grid {
      display: grid;
      grid-template-columns: 500px calc(100% - 500px);
      height: calc(100vh - 250px);
      padding: 1rem 0;
      background-color: color(white);
    }
  
    &__heading {
      @include font-size(regular);
      @include font-weight(bold);
      color: #90951f;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
  
    &-list {
      position: relative;
      width: 100%;
      border-right: 1px solid rgba($color: color(grey), $alpha: 0.4);
  
      &-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 500px;
        height: 100%;
        padding: 1rem 1rem 0;
        overflow-y: scroll;
      }
    }
  
    .message-avatar {
      img {
        width: 45px;
        height: 45px;
        object-fit: cover;
        object-position: center;
      }
  
      &--sm {
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  
    .message-details {
      @include respond(largest) {
        padding-left: 2rem;
        padding-right: 2rem;
      }
      padding: 1rem 1rem 0;
  overflow-y:auto;
      &-body {
        @include font-size(small);
        font-family: "Source Sans Pro", sans-serif;
        // font-weight:
        line-height: 1.8;
        color: color(dark);
  
        p {
          margin-bottom: 1.5rem;
        }
      }
  
      &-heading {
        @include font-size(medium);
      }
  
      &-header {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
      }
    }
  
    .message-item {
      position: relative;
      display: flex;
      align-items: flex-start;
      margin-bottom: 1rem;
      padding: 1rem 1rem 0;
      transition: background-color 0.3s ease;
      cursor: pointer;
  
      &::after {
        position: absolute;
        bottom: -5px;
        left: 50%;
        width: 90%;
        height: 1px;
        background-color: rgba($color: color(grey), $alpha: 0.4);
        transform: translateX(-50%);
        content: "";
      }
  
      &.active {
        background: rgba($color: color(primary), $alpha: 0.1);
      }
  
      &.read {
        opacity: 0.6;
      }
  
      &:hover {
        background: rgba($color: color(primary), $alpha: 0.05);
      }
  
      .message-desc {
        margin: 0 1rem;
        flex: 1;
  
        p.paragraph {
          line-height: 1.4;
        }
      }
  
      .message-date {
        @include font-size(small);
        white-space: nowrap;
        color: #a6ab2d;
      }
    }
  
    .message-subject {
      @include font-weight(bold);
      @include font-size(small);
      margin-bottom: 0;
    }
  
    .message-recipients {
      @include font-size(x-small);
      margin-bottom: 0;
    }
  }
  