<div [@routerTransition] class="application">
  <section class="content-header bg-white">
    <div class="container-fluid">
      <div class="row justify-content-between align-items-start">
        <div class="col-md-4">
          <h1 class="heading">
            {{ "Assigned Analyst Application" | localize }}
          </h1>
          <p class="paragraph">Unique Application ID: NSE1234</p>
        </div>

        <div class="col-md-2">
          <p class="paragraph mb-0">DMF</p>
          <p class="paragraph font-bold">Insert Name</p>
        </div>

        <div class="col-md-2">
          <p class="paragraph mb-0">Date Created</p>
          <p class="paragraph font-bold">24/11/2020</p>
        </div>

        <div class="col-md-2">
          <p class="paragraph mb-0">Status</p>
          <p class="paragraph font-bold color-yellow">Assigned</p>
        </div>
      </div>
    </div>
  </section>

  <section class="content px-0 bg-white application-main">
    <div class="container-fluid p-0">
      <p-tabView styleClass="mt-4" [activeIndex]="index">
        <p-tabPanel header="Application Details" class="application-sections">
          <div class="application-tab application-section">
            <div class="application-section-nav">
              <ul class="application-section-nav-inner">
                <li>
                  <span
                    (click)="scrollTo('section1')"
                    [ngClass]="{ active: currentSection === 'section1' }"
                    >section 1</span
                  >
                </li>
                <li>
                  <span
                    (click)="scrollTo('section2')"
                    [ngClass]="{ active: currentSection === 'section2' }"
                    >section 2</span
                  >
                </li>
                <li>
                  <span
                    (click)="scrollTo('section3')"
                    [ngClass]="{ active: currentSection === 'section3' }"
                    >section 3</span
                  >
                </li>
                <li>
                  <span
                    (click)="scrollTo('section4')"
                    [ngClass]="{ active: currentSection === 'section4' }"
                    >section 4</span
                  >
                </li>
                <li>
                  <span
                    (click)="scrollTo('section5')"
                    [ngClass]="{ active: currentSection === 'section5' }"
                    >uploaded documentation</span
                  >
                </li>
              </ul>
            </div>

            <div
              id="parentDiv"
              class="application-section-body"
              scrollSpy
              [spiedTags]="['DIV']"
              (sectionChange)="onSectionChange($event)"
              [ngStyle]="{
                'max-height.px': screenHeight
                  ? screenHeight - (75 + 55 + 125 + 40)
                  : 'auto'
              }"
            >
              <div class="section" id="section1">
                <div class="d-flex align-items-center justify-content-between">
                  <h3 class="heading mb-0">Section 1</h3>

                  <div class="d-flex align-items-center">
                    <button
                      pButton
                      type="button"
                      class="button button--green mr-2"
                      label="Appraisal Report"
                    ></button>

                    <button
                      pButton
                      type="button"
                      class="button button--red mr-2"
                      label="Deficiency Letter"
                    ></button>

                    <button
                      pButton
                      type="button"
                      class="button button--primary"
                      (click)="toggleSidebar()"
                      label="Comment"
                    ></button>
                  </div>
                </div>

                <hr class="divider" />

                <h3 class="heading heading--sm mb-5">
                  Kindly review the details of the application before reviewing
                </h3>

                <p class="font-small color-dark mb-4">
                  Summary of Application form
                </p>

                <div class="row justify-content-between">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="form__label" for="field1">Field 1</label>
                      <input
                        type="text"
                        id="field1"
                        pInputText
                        class="form-control"
                        [ngModel]="form.field1"
                        readonly
                      />
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="form__label" for="field2">Field 2</label>
                      <input
                        type="text"
                        id="field2"
                        pInputText
                        [ngModel]="form.field2"
                        readonly
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="form__label" for="field3">Field 3</label>
                      <input
                        type="text"
                        id="field3"
                        [ngModel]="form.field3"
                        readonly
                        pInputText
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="form__label" for="field4">Field 4</label>
                      <input
                        type="text"
                        id="field4"
                        pInputText
                        [ngModel]="form.field4"
                        readonly
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <hr class="divider" />

              <div class="section" id="section2">
                <div class="d-flex align-items-center justify-content-between">
                  <h3 class="heading mb-0">Section 2</h3>

                  <div class="d-flex align-items-center">
                    <button
                      pButton
                      type="button"
                      class="button button--green mr-2"
                      label="Appraisal Report"
                    ></button>

                    <button
                      pButton
                      type="button"
                      class="button button--red mr-2"
                      label="Deficiency Letter"
                    ></button>

                    <button
                      pButton
                      type="button"
                      class="button button--primary"
                      (click)="toggleSidebar()"
                      label="Comment"
                    ></button>
                  </div>
                </div>

                <hr class="divider" />

                <h3 class="heading heading--sm mb-5">
                  Kindly review the details of the application before reviewing
                </h3>

                <p class="font-small color-dark mb-4">
                  Summary of Application form
                </p>

                <div class="row justify-content-between">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="form__label" for="field1">Field 1</label>
                      <input
                        type="text"
                        id="field1"
                        pInputText
                        class="form-control"
                        [ngModel]="form.field1"
                        readonly
                      />
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="form__label" for="field2">Field 2</label>
                      <input
                        type="text"
                        id="field2"
                        pInputText
                        [ngModel]="form.field2"
                        readonly
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="form__label" for="field3">Field 3</label>
                      <input
                        type="text"
                        id="field3"
                        [ngModel]="form.field3"
                        readonly
                        pInputText
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="form__label" for="field4">Field 4</label>
                      <input
                        type="text"
                        id="field4"
                        pInputText
                        [ngModel]="form.field4"
                        readonly
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <hr class="divider" />

              <div class="section" id="section3">
                <div class="d-flex align-items-center justify-content-between">
                  <h3 class="heading mb-0">Section 3</h3>

                  <div class="d-flex align-items-center">
                    <button
                      pButton
                      type="button"
                      class="button button--green mr-2"
                      label="Appraisal Report"
                    ></button>

                    <button
                      pButton
                      type="button"
                      class="button button--red mr-2"
                      label="Deficiency Letter"
                    ></button>

                    <button
                      pButton
                      type="button"
                      class="button button--primary"
                      (click)="toggleSidebar()"
                      label="Comment"
                    ></button>
                  </div>
                </div>

                <hr class="divider" />

                <h3 class="heading heading--sm mb-5">
                  Kindly review the details of the application before reviewing
                </h3>

                <p class="font-small color-dark mb-4">
                  Summary of Application form
                </p>

                <div class="row justify-content-between">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="form__label" for="field1">Field 1</label>
                      <input
                        type="text"
                        id="field1"
                        pInputText
                        class="form-control"
                        [ngModel]="form.field1"
                        readonly
                      />
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="form__label" for="field2">Field 2</label>
                      <input
                        type="text"
                        id="field2"
                        pInputText
                        [ngModel]="form.field2"
                        readonly
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="form__label" for="field3">Field 3</label>
                      <input
                        type="text"
                        id="field3"
                        [ngModel]="form.field3"
                        readonly
                        pInputText
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="form__label" for="field4">Field 4</label>
                      <input
                        type="text"
                        id="field4"
                        pInputText
                        [ngModel]="form.field4"
                        readonly
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <hr class="divider" />

              <div class="section" id="section4">
                <div class="d-flex align-items-center justify-content-between">
                  <h3 class="heading mb-0">Section 4</h3>

                  <div class="d-flex align-items-center">
                    <button
                      pButton
                      type="button"
                      class="button button--green mr-2"
                      label="Appraisal Report"
                    ></button>

                    <button
                      pButton
                      type="button"
                      class="button button--red mr-2"
                      label="Deficiency Letter"
                    ></button>

                    <button
                      pButton
                      type="button"
                      class="button button--primary"
                      (click)="toggleSidebar()"
                      label="Comment"
                    ></button>
                  </div>
                </div>

                <hr class="divider" />

                <h3 class="heading heading--sm mb-5">
                  Kindly review the details of the application before reviewing
                </h3>

                <p class="font-small color-dark mb-4">
                  Summary of Application form
                </p>

                <div class="row justify-content-between">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="form__label" for="field1">Field 1</label>
                      <input
                        type="text"
                        id="field1"
                        pInputText
                        class="form-control"
                        [ngModel]="form.field1"
                        readonly
                      />
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="form__label" for="field2">Field 2</label>
                      <input
                        type="text"
                        id="field2"
                        pInputText
                        [ngModel]="form.field2"
                        readonly
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="form__label" for="field3">Field 3</label>
                      <input
                        type="text"
                        id="field3"
                        [ngModel]="form.field3"
                        readonly
                        pInputText
                        class="form-control"
                      />
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="form__label" for="field4">Field 4</label>
                      <input
                        type="text"
                        id="field4"
                        pInputText
                        [ngModel]="form.field4"
                        readonly
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <hr class="divider" />

              <div class="section" id="section5">
                <div class="row justify-content-between mb-4">
                  <p class="font-small color-dark">
                    Summary of Uploaded Documents
                  </p>
                </div>

                <div class="mb-4">
                  <div class="mb-4">
                    <label class="form__label" for="field1">Field 1</label>
                    <p>
                      <i class="pi pi-file-pdf color-red mr-2"></i>Document
                      1.pdf
                    </p>
                  </div>

                  <div class="mb-4">
                    <label class="form__label" for="field2">Field 2</label>
                    <p>
                      <i class="pi pi-file-pdf color-red mr-2"></i>Document
                      2.pdf
                    </p>
                  </div>
                </div>
              </div>

              <div class="text-right mb-5 mt-4 w-100">
                <button
                  pButton
                  type="button"
                  class="button button--outlined button--outlined-primary mr-3"
                  label="Cancel"
                ></button>

                <button
                  pButton
                  type="button"
                  [disabled]="submitting"
                  class="button button--primary"
                  (click)="openNext()"
                  label="Submit"
                ></button>
              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Application Review">
          <div class="application-tab">
            <div class="d-flex align-items-center justify-content-between">
              <h3 class="heading mb-0">All Reviews</h3>

              <div class="d-flex align-items-center">
                <button
                  pButton
                  type="button"
                  class="button button--green mr-2"
                  label="Appraisal Report"
                ></button>

                <button
                  pButton
                  type="button"
                  class="button button--red mr-2"
                  label="Deficiency Letter"
                ></button>
              </div>
            </div>

            <hr class="divider" />

            <h3 class="heading heading--sm mb-5">
              Kindly comment/create an appraisal report/defficiency letter and
              submit
            </h3>

            <div>
              <div class="form-group">
                <div class="form__label font-bold">Select Action</div>
                <p-dropdown
                  [options]="arr"
                  [(ngModel)]="selectedValue"
                  placeholder="--Select--"
                  optionLabel="label"
                ></p-dropdown>
              </div>

              <p-editor
                [(ngModel)]="text"
                [style]="{ height: '320px' }"
              ></p-editor>
            </div>

            <div class="text-right mb-5 mt-4 w-100">
              <button
                pButton
                type="button"
                class="button button--outlined button--outlined-primary mr-3"
                label="Back"
                (click)="openPrev()"
              ></button>

              <button
                pButton
                type="button"
                [disabled]="submitting"
                class="button button--primary"
                label="Submit Application"
              ></button>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </section>

  <app-comments
    [visible]="showComments"
    (toggle)="toggleSidebar()"
  ></app-comments>
</div>
