<ngx-ui-loader text="Please wait..." textColor="#ffffff"></ngx-ui-loader>
<form class="form-horizontal" autocomplete="off" #createRequiredApplicationDocumentModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header title="Create New  Required Application Document" (onCloseClick)="bsModalRef.hide()">
    </abp-modal-header>
    <div class="modal-body">
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="requiredApplicationDocument.applicationTypeId">
                Application Type
            </label>
            <div class="col-md-9">
                <p-dropdown required [options]="applicationTypes" [filter]="true" [showClear]="true" dataKey="id"
                    optionLabel="name" [(ngModel)]="selectedApplicationType" (onChange)="onChange($event)"
                    id="applicationTypeId" name="applicationTypeId" #applicationTypeIdModel="ngModel"
                    #applicationTypeIdEl placeholder="--Select ApplicationType--" styleClass="w-100">
                </p-dropdown>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">
                Document Name
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="name" id="name" required maxlength="100"
                    [(ngModel)]="requiredApplicationDocument.name" #nameModel="ngModel" #nameEl />
                <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row mb-0">
            <label class="col-md-3 col-form-label" for="isMandatory">
                {{ "IsMandatory" | localize }}
            </label>
            <div class="col-md-9">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="isMandatory" id="isMandatory"
                        [(ngModel)]="requiredApplicationDocument.isMandatory" />
                    <label class="custom-control-label mt-2" for="isMandatory"></label>
                </div>
            </div>
        </div>
        <div class="form-group row mb-0">
            <label class="col-md-3 col-form-label" for="isActive">
                {{ "IsActive" | localize }}
            </label>
            <div class="col-md-9">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="isActive" id="isActive"
                        [(ngModel)]="requiredApplicationDocument.isActive" />
                    <label class="custom-control-label mt-2" for="isActive"></label>
                </div>
            </div>
        </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving"
        [saveDisabled]="!createRequiredApplicationDocumentModal.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>