<div [@routerTransition] class="messages">
  <section class="content-header">
    <div class="row justify-content-between align-items-start">
      <div>
        <h1 class="heading">
          {{ "All Messages  " | localize }}
        </h1>
      </div>

      <button
        pButton
        type="button"
        icon="pi pi-plus"
        class="button button--primary"
        iconPos="left"
        label="Compose Mail"
        (click)="showDialog()"
      ></button>
    </div>
  </section>

  <section class="content px-0">
    <div class="messages-grid">
      <div class="messages-list">
        <div class="messages-list-inner">
          <h3 class="messages__heading">Messages To Reply ({{ unread }})</h3>

          <div
            class="message-item"
            [ngClass]="{
              active:
                !utilityService.isObjectEmpty(selectedMessage$ | async) &&
                selectedMessage$.value.id === message.id,
              read: message.status === 'read'
            }"
            *ngFor="let message of messages"
            (click)="onSelect(message.id)"
          >
            <div class="message-avatar">
              <img src="../assets/img/user.png" alt="" />
            </div>

            <div class="message-desc">
              <p class="font-black font-size-small mb-0">
                {{ message.subject }}
              </p>
              <p class="paragraph font-size-small">
                Victoria Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Tempus auctor facilisi vestibulum enim adipiscing. ctus
                vitae venenatis...V
              </p>
            </div>

            <div>
              <p class="message-date">Aug 3</p>
            </div>
          </div>
        </div>
      </div>
      <div class="message-details">
        <div
          class="container-fluid"
          *ngIf="!utilityService.isObjectEmpty(selectedMessage$ | async)"
        >
          <div class="row justify-content-end mb-5">
            <button
              pButton
              type="button"
              class="button button--blue mr-3"
              label="Reply"
            ></button>

            <button
              pButton
              type="button"
              class="button button--primary"
              label="Forward"
            ></button>
          </div>

          <div class="row justify-content-between align-items-center mb-4">
            <div class="col-md-8">
              <h3 class="message-details-heading">
                {{ selectedMessage$.value.subject }}
              </h3>
            </div>

            <div class="col-md-4">
              <p
                class="paragraph mb-0 color-primary font-size-small text-right"
              >
                Aug 3, 2020 , 4:30pm
              </p>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-12">
              <div class="message-details-header">
                <div class="message-avatar message-avatar--sm">
                  <img src="../assets/img/user.png" alt="" />
                </div>

                <div class="ml-3">
                  <p class="message-subject">NSE</p>
                  <p class="message-recipients">
                    to Chinwe, Valentine, Miracle, Mosope, Francis, Oluwole,
                    Obinna, bcc: 4284905
                  </p>
                </div>
              </div>

              <div class="message-details-body">
                <p>Dear Bro,</p>

                <p>
                  {{ selectedMessage$.value.description }}
                </p>

                <p>Regards</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <p class="paragraph font-size-x-small color-dark-grey">
                This message and any attachments are confidential and may
                contain proprietary information intended solely for the
                addressee and may also be privileged or exempt from disclosure
                under applicable law. If you are not the addressee, or an
                employee or agent responsible for delivering this message to the
                intended recipient, or have received this message in error,
                please notify the sender immediately, delete it from your system
                and keep confidential, do not copy, disclose or otherwise act
                upon any part of this message or its attachments. Internet
                communications are not guaranteed to be secure or virus-free.
                The Nigerian Stock Exchange does not accept responsibility for
                any loss arising from unauthorised access to, or interference
                with, any Internet communications by any third party, or from
                the transmission of any viruses. The Nigerian Stock Exchange
                reserves the right to monitor and review the content of any
                electronic message or information sent to or from a Nigerian
                Stock Exchange employee e-mail address without informing the
                sender or recipient of the message. Any opinion or other
                information in this message or its attachments that does not
                relate to the business of The Nigerian Stock Exchange is
                personal to the sender and is not given or endorsed by the
                Nigerian Stock Exchange. The Nigerian Stock Exchange accepts no
                responsibility for any loss arising from such personal
                communication. The Nigerian Stock Exchange (RC 2321) Registered
                Office: 2-4 Customs Street, Lagos, Nigeria
              </p>
            </div>
          </div>
        </div>

        <div
          class="d-flex align-items-center justify-content-center h-100 w-100"
          *ngIf="utilityService.isObjectEmpty(selectedMessage$ | async)"
        >
          <app-empty-state
            [description]="'You have no messages'"
            [icon]="'pi pi-envelope'"
          ></app-empty-state>
        </div>
      </div>
    </div>
  </section>

  <app-message-dialog
  [(visible)]="display"
  (onClose)="toggleDialog()"></app-message-dialog>
</div>
