.accordion {
  .ui-accordion-header {
    border-bottom: 1px solid #e8e8e8 !important;
    margin: 0 !important;

    a {
      position: relative;
      background-color: color(white) !important;
      border: 0 !important;
      border-radius: 0 !important;
      color: color(dark) !important;
      padding-top: 1.2rem !important;
      padding-bottom: 1.2rem !important;
      padding-left: 0 !important;

      &:active,
      &:focus {
        outline: none !important;
        box-shadow: none !important;
      }
    }

    &:not(.ui-state-disabled).ui-state-active a {
      color: color(dark) !important;

      .ui-accordion-toggle-icon {
        color: color(dark) !important;
      }
    }
  }

  .ui-accordion-toggle-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: color(dark) !important;
  }

  .ui-accordion-content {
    border: 0 !important;
    color: #595959 !important;
    padding-left: 0 !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
}
