.default-modal {
  width: 500px;
}

.notification-modal {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 20px;
  width: 350px;
  padding: 1rem 0 0;
  background-color: color(white);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 2px;

  .close {
    @include font-size(regular);
    z-index: 1;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #8c8c8c;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: color(red);
    }
  }

  &-footer {
    @include font-size(x-small);
    @include font-weight(bold);
    padding: 10px 2rem;
    background-color: rgba($color: #c4c4c4, $alpha: 0.1);
    text-align: center;
    color: color(primary);
  }

  ul {
    list-style: none;

    li {
      position: relative;
      padding: 1rem;

      &:not(:last-child) {
        &::after {
          content: "";
        }
      }

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 90%;
        height: 1px;
        background-color: rgba($color: #c4c4c4, $alpha: 0.3);
        transform: translateX(-50%);
      }

      &.active {
        .notification-title {
          color: color(primary);
        }
      }

      span {
        display: block;
        color: #595959;
      }
    }
  }

  .notification-title {
    @include font-size(small);
    @include font-weight(bold);
    color: color(darker);
  }
}
