.nav {
  &-brand {
    text-align: center;
    border-bottom: 0 !important;
    margin-top: 3rem;

    &-logo {
      width: 150px;
      max-width: 100%;
    }
  }

  &bar {
    border-bottom-color: #d9d9d9;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &-icon {
    @include font-size(medium);
    position: relative;
    cursor: pointer;

    &-badge {
      @include font-size(x-small);
      position: absolute;
      top: 3px;
      right: 0;
      border-radius: 15px;
      background-color: color(red);
      padding: 0 5px;
      color: color(white);
    }
  }

  &-item {
    position: relative;
  }

  .number-count {
    border-radius: 20px;
    background: color(red);
    color: color(white);
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
