<div [@routerTransition] class="profile">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row justify-content-between align-items-start">
        <div>
          <h1 class="heading">{{ "Edit Profile" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="content px-5">
    <div class="container-fluid">
      <div class="row mb-4">
        <div class="col-12">
          <p class="paragraph">Avatar</p>

          <div class="image-block">
            <img [src]="userImage$ | async" class="profile-image" alt="user" />

            <div class="upload-wrapper">
              <button
                pButton
                type="button"
                label="Upload new avatar"
                icon="pi pi-upload"
                class="button button--outlined button--outlined-gray profile-button"
              ></button>

              <input
                type="file"
                class="file-upload"
                accept="image/*"
                (change)="updateImage($event)"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row profile-row mt-4">
        <div class="col-12">
          <h3 class="heading profile-heading">Personal Details</h3>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="form__label" for="title">Title</label>
            <input
              type="text"
              id="title"
              [(ngModel)]="user.title"
              pInputText
              class="form-control"
            />
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="form__label" for="firstName">First Name</label>
            <input
              type="text"
              id="firstName"
              [(ngModel)]="user.firstName"
              pInputText
              class="form-control"
            />
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="form__label" for="lastName">Last Name</label>
            <input
              type="text"
              id="lastName"
              [(ngModel)]="user.lastName"
              pInputText
              class="form-control"
            />
          </div>
        </div>
      </div>

      <div class="row profile-row no-bb">
        <div class="col-12">
          <h3 class="heading profile-heading">Organization Details</h3>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="form__label" for="organization"
              >Organization Name</label
            >
            <input
              type="text"
              id="organization"
              [(ngModel)]="user.organization"
              pInputText
              class="form-control"
            />
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="form__label" for="role">Organization Role</label>
            <input
              type="text"
              id="role"
              pInputText
              [(ngModel)]="user.position"
              class="form-control"
            />
          </div>
        </div>

        <div class="col-md-3"></div>
      </div>

      <div class="row profile-row">
        <div class="col-12">
          <h3 class="heading profile-heading">Password Details</h3>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="form__label" for="oldPassword">Old Password</label>
            <input
              type="password"
              id="oldPassword"
              pInputText
              class="form-control"
            />
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="form__label" for="newPassword">New Password</label>
            <input
              type="password"
              id="newPassword"
              pInputText
              class="form-control"
            />
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label class="form__label" for="confirmNewPassword"
              >Confirm New Password</label
            >
            <input
              type="password"
              id="confirmNewPassword"
              pInputText
              class="form-control"
            />
          </div>
        </div>
      </div>

      <div class="text-right mb-5 mt-4">
        <button
          pButton
          type="button"
          [disabled]="submitting"
          class="button button--primary"
          label="Update User Details"
        ></button>
      </div>
    </div>
  </section>
</div>
