<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Roles" | localize }}</h1>
        </div>
        <div class="col-6 text-right">
          <button
            pButton
            type="button"
            icon="pi pi-plus"
            class="button button--primary"
            iconPos="left"
            label="Create Role"
            (click)="createRole()"
          ></button>
          <!-- <a href="javascript:;" class="btn bg-blue" (click)="createRole()">
            <i class="fa fa-plus-square"></i>
            {{ "Create" | localize }}
          </a> -->
        </div>
      </div>
    </div>
  </section>

  <section class="content px-4 py-5 bg-white">
    <div class="container-fluid">
      <p-table
        #dt
        [columns]="cols"
        class="table"
        [rows]="10"
        [rowHover]="true"
        [paginator]="true"
        [loading]="isTableLoading"
        dataKey="id"
        [value]="roles"
      >
        <ng-template pTemplate="caption">
          <div class="table-header">
            <span class="heading mb-0">{{ "List of roles" | localize }}</span>

            <span class="p-input-icon-left table-search">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Search Application"
              />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr class="numbered-header">
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>

          <tr>
            <th></th>
            <th>
              <input
                pInputText
                type="text"
                (input)="dt.filter($event.target.value, 'RoleName', 'contains')"
                placeholder="Search by user name"
                class="p-column-filter form-control"
              />
            </th>
            <th>
              <input
                pInputText
                type="text"
                (input)="
                  dt.filter($event.target.value, 'DisplayName', 'contains')
                "
                placeholder="Search by full name"
                class="p-column-filter form-control"
              />
            </th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-role>
          <tr class="p-selectable-row">
            <td>
              {{ role.sn }}
            </td>
            <td style="white-space: nowrap;">
              {{ role.name }}
            </td>
            <td>
              {{ role.displayName }}
            </td>
            <td>
              <p-splitButton
                label="Action"
                [model]="buttonItems"
                styleClass="p-button-secondary table-action"
                (onDropdownClick)="setSelectedRole(role)"
              ></p-splitButton>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </section>

  <!-- <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="input-group">
            <div class="input-group-prepend">
              <button
                type="button"
                class="btn bg-blue"
                (click)="getDataPage(1)"
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
            <input
              type="text"
              class="form-control"
              name="keyword"
              [placeholder]="'SearchWithThreeDot' | localize"
              [(ngModel)]="keyword"
              (keyup.enter)="getDataPage(1)"
            />
          </div>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap" [busy]="isTableLoading">
            <thead class="bg-light">
              <tr>
                <th>{{ "RoleName" | localize }}</th>
                <th>{{ "DisplayName" | localize }}</th>
                <th style="width: 200px;">{{ "Actions" | localize }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let role of roles
                    | paginate
                      : {
                          id: 'server',
                          itemsPerPage: pageSize,
                          currentPage: pageNumber,
                          totalItems: totalItems
                        }
                "
              >
                <td>{{ role.name }}</td>
                <td>{{ role.displayName }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-sm bg-secondary"
                    (click)="editRole(role)"
                  >
                    <i class="fas fa-pencil-alt"></i>
                    {{ "Edit" | localize }}
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm bg-danger mx-2"
                    (click)="delete(role)"
                  >
                    <i class="fas fa-trash"></i>
                    {{ "Delete" | localize }}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <button class="btn btn-secondary" (click)="refresh()">
                <i class="fas fa-redo-alt"></i>
              </button>
            </div>
            <div class="col-sm-4 col-12 text-center">
              <p class="mb-0 my-2">
                {{ "TotalRecordsCount" | localize: totalItems }}
              </p>
            </div>
            <div class="col-sm-4 col-12">
              <div class="float-sm-right m-auto">
                <abp-pagination-controls
                  id="server"
                  (pageChange)="getDataPage($event)"
                >
                </abp-pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</div>
