<p-dialog
  [(visible)]="visible"
  position="center"
  [modal]="true"
  styleClass="default-modal"

  (onHide)="closeModal()"
  appendTo="body"
  [dismissableMask]="true"

  
>
  <p-header class=""> Compose new mail </p-header>

  <div class="default-modal-body">
    <div class="form-group">
      <label class="form__label" for="title">Recipients</label>
      <div>
        <p-chips [(ngModel)]="recipients" styleClass="w-100"></p-chips>
      </div>
    </div>

    <div class="form-group">
      <label class="form__label" for="title">Subject</label>
      <input type="text" id="title" pInputText class="form-control" />
    </div>

    <div class="form-group">
      <label class="form__label" for="textarea">Textarea</label>
      <textarea
        pInputTextarea
        class="form-control"
        id="textarea"
        rows="6"
      ></textarea>
    </div>

    <div class="text-center pb-4 pt-4">
      <button
        pButton
        type="button"
        class="button button--green"
        label="Send"
      ></button>
    </div>
  </div>
</p-dialog>
