<form class="form-horizontal" autocomplete="off" #editFeesCalculationModal="ngForm" (ngSubmit)="save()">
  <abp-modal-header title="Edit Matrics" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="start">
        Start
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="start" id="start" required currencyMask
          [(ngModel)]="feesCalculation.start" #startModel="ngModel" #startEl />
        <abp-validation-summary [control]="startModel" [controlEl]="startEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="end">
        End
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="end" id="end" required currencyMask
          [(ngModel)]="feesCalculation.end" #endModel="ngModel" #endEl />
        <abp-validation-summary [control]="endModel" [controlEl]="endEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="fee">
        Fee
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="fee" id="fee" required currencyMask
          [(ngModel)]="feesCalculation.fee" #feeModel="ngModel" #feeEl />
        <abp-validation-summary [control]="feeModel" [controlEl]="feeEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row mb-0">
      <label class="col-md-3 col-form-label" for="isActive">
        {{ "IsActive" | localize }}
      </label>
      <div class="col-md-9">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="isActive" id="isActive"
            [(ngModel)]="feesCalculation.isActive" />
          <label class="custom-control-label mt-2" for="isActive"></label>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editFeesCalculationModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>