﻿<div [@routerTransition] class="dashboard">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row justify-content-between align-items-start">
        <div>
          <h1 class="heading">{{ "Dashboard" | localize }}</h1>
          <p class="paragraph">Hello DMF Organization Name,</p>
        </div>

        <button pButton type="button" icon="pi pi-plus" class="button button--primary" iconPos="left"
          label="New Application" (click)="toggleDialog()"></button>
      </div>
    </div>
  </section>

  <section class="content px-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <p-card class="card card--red">
            <div class="card-header">
              <h3 class="card__title">Action Required</h3>
              </div>
            <div class="card-body">
              <p class="card__text">4</p>
            </div>
          </p-card>
        </div>
        <div class="col-lg-3 col-6">
          <p-card class="card card--orange">
            <div class="card-header">
              <h3 class="card__title">In Progress</h3>
             </div>
            <div class="card-body">
              <p class="card__text">4</p>
            </div>
          </p-card>
        </div>
        <div class="col-lg-3 col-6">
          <p-card class="card card--green">
            <div class="card-header">
              <h3 class="card__title">Approved</h3>
             </div>
            <div class="card-body">
              <p class="card__text">13</p>
            </div>
          </p-card>
        </div>

        <div class="col-lg-3 col-6">
          <p-card class="card card--green">
            <div class="card-header">
              <h3 class="card__title">Listed</h3>
               </div>
            <div class="card-body">
              <p class="card__text">1</p>
            </div>
          </p-card>
        </div>
      </div>
    </div>
  </section>

  <section class="content px-4 py-2 bg-white">
    <div class="container-fluid">
      <p-table #dt [columns]="cols" class="table" [rows]="10" [rowHover]="true" [paginator]="true" [loading]="loading"
        dataKey="id" [value]="summary">
        <ng-template pTemplate="caption">
          <div class="table-header p-grid">

            <div class="p-col-4 text-left"> <span class="heading mb-0">{{
              "Application Summary" | localize
            }}</span>
            </div>

            <div class="p-col-8">
              <button pButton type="button" icon="pi pi-file-excel"
                class="button button--outlined button--outlined-grey mr-2" iconPos="left" label="Save CSV"></button>
            <button pButton type="button" icon="pi pi-file-pdf"
                class="button button--outlined button--outlined-grey mr-2" iconPos="left" label="Save PDF"></button>
            <span class="p-input-icon-left table-search">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Search Application" />
              </span>
            </div>


          </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr class="numbered-header">
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>

          <tr>
            <th></th>
            <th>
              <input pInputText type="text" (input)="dt.filter($event.target.value, 'issuer', 'contains')"
                placeholder="Search by Issuer" class="p-column-filter form-control" />
            </th>
            <th>
              <input pInputText type="text" (input)="dt.filter($event.target.value, 'name', 'contains')"
                placeholder="Search by Application" class="p-column-filter form-control" />
            </th>
            <th>
              <p-calendar (onSelect)="onDateSelect($event)" (onClearClick)="dt.filter('', 'date', 'equals')"
                [showButtonBar]="true" styleClass="form-calendar" placeholder="Date" [readonlyInput]="true"
                dateFormat="mm-dd-yy"></p-calendar>
            </th>
            <th>
              <p-dropdown [options]="statusOptions" (onChange)="dt.filter($event.value, 'status', 'equals')"
                styleClass="p-column-filter" placeholder="Select a Status" [showClear]="true">
                <ng-template let-option pTemplate="item">
                  <span [class]="'table-status status-' + status[option.value]">{{ option.label }}</span>
                </ng-template>
              </p-dropdown>
            </th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-column>
          <tr class="p-selectable-row">
            <td>
              {{ column.sn }}
            </td>
            <td >
              <span [class]="
                  'table-circle status-circle--' +
                  status[column.status.toLowerCase()]
                "></span>
              {{ column.issuer }}
            </td>
            <td >
              {{ column.name }}
            </td>
            <td>
              {{ column.date }}
            </td>
            <td>
              <span [class]="
                  'table-status status-' + status[column.status.toLowerCase()]
                ">{{ column.status }}</span>
            </td>
            <td>
              <p-splitButton label="Action" [model]="buttonItems" styleClass="p-button-secondary table-action">
              </p-splitButton>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </section>
  <app-assign-application-dialog 
  [(visible)]="displayAssign"
  (onClose)="toggleAssignDialog()"></app-assign-application-dialog>
  <app-application-dialog    
  [(visible)]="display"
  (onClose)="toggleDialog()"></app-application-dialog>
</div>
