﻿<ngx-ui-loader text="Please wait..." textColor="#ffffff"></ngx-ui-loader>
<section class="content-header bg-white  p-5">
    <div class="container text-center">
        <div class="document shadow p-5 border border-secondary">
            <h3 class="heading">Application Payment Details</h3>
            <div class=" text-capitalize my-4 font-weight-light text-nse"> APPLICATION SUMMARY </div>
            <div class="row justify-content-center mb-3 pl-5">
                <div class="col-md-6 text-left">
                    <p class="paragraph mb-0">Transaction Ref: </p>
                    <p class="paragraph font-bold"> {{webPayModel.tranactionRef}}</p>
                </div>
                <div class="col-md-6 text-left ">
                    <p class="paragraph mb-0">Unique Application ID: </p>
                    <p class="paragraph font-bold"> {{webPayModel.appId}}</p>
                </div>
            </div>
            <div class="row justify-content-between mb-3 pl-5">
                <div class="col-md-6 text-left">
                    <p class="paragraph mb-0">Application Name: </p>
                    <p class="paragraph font-bold"> {{webPayModel.applicationName}}</p>
                </div>
                <div class="col-md-6 text-left">
                    <p class="paragraph mb-0">Application Category: </p>
                    <p class="paragraph font-bold"> {{webPayModel.applicationCategory}}</p>
                </div>
            </div>
            <div class="row justify-content-between mb-3 pl-5">
                <div class="col-md-6 text-left">
                    <p class="paragraph mb-0">Application Type: </p>
                    <p class="paragraph font-bold"> {{webPayModel.applicationType}}</p>
                </div>
                <div class="col-md-6 text-left ">
                    <p class="paragraph mb-0 ">Listing Type:</p>
                    <p class="paragraph font-bold">{{webPayModel.listingType}}</p>
                </div>
            </div>
            <div class="row justify-content-between mb-3 pl-5">
                <div class="col-md-6 text-left">
                    <p class="paragraph mb-0">Brokers' Name: </p>
                    <p class="paragraph font-bold"> {{webPayModel.brokerName}}</p>
                </div>
                <div class="col-md-6 text-left ">
                    <p class="paragraph mb-0 ">Submitted By:</p>
                    <p class="paragraph font-bold">{{webPayModel.organizationName}}</p>
                </div>
            </div>
            <div class="row justify-content-between mb-3 pl-5">
                <div class="col-md-6 text-left">
                    <p class="paragraph mb-0">Issuer Name: </p>
                    <p class="paragraph font-bold"> {{webPayModel.nameOfIssuer}}</p>
                </div>
                <div class="col-md-6 text-left ">
                    <p class="paragraph mb-0 ">Transaction Date:</p>
                    <p class="paragraph font-bold">{{webPayModel.transactionDate | date:'MMM-dd-yyyy'}}</p>
                </div>
            </div>
            <div class="row justify-content-between mb-3 pl-5">
                <div class="col-md-6 text-left">
                    <p class="paragraph mb-0">Application Fee: </p>
                    <p class="paragraph font-bold"> {{webPayModel.applicationFee|currency:'₦':'symbol'}}</p>
                </div>
                <div class="col-md-6 text-left ">
                    <p class="paragraph mb-0 ">Listing Fee:</p>
                    <p class="paragraph font-bold">{{webPayModel.listingFee|currency:'₦':'symbol'}}</p>
                </div>
            </div>
            <div class="row justify-content-between mb-3 pl-5">
                <div class="col-md-6 text-left">
                    <p class="paragraph mb-0">Other charges: </p>
                    <p class="paragraph font-bold"> {{webPayModel.nseFee|currency:'₦':'symbol'}}</p>
                </div>
                <div class="col-md-6 text-left ">
                    <p class="paragraph mb-0 ">Total:</p>
                    <p class="paragraph font-bold">{{webPayModel.actualAmount|currency:'₦':'symbol'}}</p>
                </div>
            </div>
            <hr />
            <div class="row text-center justify-content-center mb-3 ">
                <div class="col-md-6 shadow-md ">
                    <p class="paragraph mb-0">Payment Status </p>
                    <h3 class="font-bold text-nse"> Pending</h3>
                </div>
            </div>
        </div>
    </div>
</section>