<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row justify-content-between align-items-start">
        <div class="col-6">
          <h1 class="heading">{{ "Messages" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-4 bg-white">
    <div class="container-fluid">
      <p-table #dt [columns]="cols" class="table" [rows]="10" [rowHover]="true" [paginator]="true"
        [loading]="isTableLoading" dataKey="id" [value]="emailMessages">
        <ng-template pTemplate="caption">
          <div class="table-header">
            <span class="heading mb-0">{{ "Sent Messages" | localize }}</span>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr class="numbered-header">
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-emailMessage let-rowIndex="rowIndex">
          <tr class="p-selectable-row">
            <td>
              {{rowIndex + 1}}
            </td>
            <td>
              {{ emailMessage.to.fullName }}
            </td>
            <td>
              {{ emailMessage.subject }}
            </td>
            <td [innerHTML]="emailMessage.message">
            </td>
            <td>
              {{ emailMessage.createdOn | date:'dd-MMM-yyyy'}}
            </td>
            <td>
              {{ emailMessage.read }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </section>
</div>